{% extends 'base.html' %}
{% block title %}
Contact Us
{% endblock title %}
{% block head %}

<link href="https://fonts.googleapis.com/css?family=Oxanium" rel="stylesheet">
<h1 style="font-family: 'Oxanium', sans-serif;">About Us</h1>

<link href="https://fonts.googleapis.com/css?family=Oxanium" rel="stylesheet">
<h6 style="font-family: 'Oxanium', sans-serif;">At Leo Fitness, our aim is to deliver world-class training by creating a motivating,
    dynamic environment filled with like-minded people of all ages, who are dedicated to 
    working hard and achieving lasting results. 
    We love what we do and it shows on the gym floor.</h6>


<a href="contact">Contact Us</a>



{% endblock head %}