{% extends 'base.html' %}
{% block title %}
Services
{% endblock title %}
{% block head %}

<!-- Services Section -->
<section id="services" class="services section" style=" background-color: rgba(255, 255, 255, 0.023); ">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <link href="https://fonts.googleapis.com/css?family=Oxanium" rel="stylesheet">

      
      <h2 id="Services" style="font-family: 'Oxanium', sans-serif; color:#ffffff">Services</h2>
      
    
    </div><!-- End Section Title -->

    <div class="container" style="color:#ffffff">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            
              <h3 style="font-family: 'Oxanium', sans-serif; color:#ffffff">Gym Health Assessments</h3>
            </a>
            <p style="font-family: 'Oxanium', sans-serif;">Gym offer a comprehensive health assessment for new members, which often includes measuring BMI along with other fitness metrics like body fat percentage, muscle mass, and cardiovascular fitness.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            
              <h3 style="font-family: 'Oxanium', sans-serif; color:#ffffff">Group Fitness Classes:</h3>
            </a>
            <p style="font-family: 'Oxanium', sans-serif;">Structured classes led by instructors, including activities like yoga, spinning, Pilates, Zumba, aerobics, and HIIT (High-Intensity Interval Training).</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            
              <h3 style="font-family: 'Oxanium', sans-serif; color:#ffffff">Nutritional Counseling</h3>
            </a>
            <p style="font-family: 'Oxanium', sans-serif;">Advice and plans provided by certified nutritionists or dietitians to help members optimize their diet for health and fitness goals.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-bounding-box-circles"></i>
            </div>
            
              <h3 style="font-family: 'Oxanium', sans-serif; color:#ffffff">Spa and Wellness Services</h3>
            </a>
            <p style="font-family: 'Oxanium', sans-serif;">Amenities such as saunas, steam rooms, massage therapy, and relaxation areas to support recovery and overall wellness.</p>
            
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar4-week"></i>
            </div>
            
              <h3 style="font-family: 'Oxanium', sans-serif; color:#ffffff">Specialized Training Programs</h3>
            </a>
            <p style="font-family: 'Oxanium', sans-serif;">Programs focusing on specific goals or populations, such as weight loss programs, sports-specific training, senior fitness, or youth programs.</p>
            
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-lock-fill"></i>
            </div>
            
              <h3 style="font-family: 'Oxanium', sans-serif; color:#ffffff">Locker Room Amenities</h3>
            </a>
            <p style="font-family: 'Oxanium', sans-serif;">Additional conveniences such as towel service, toiletries, and private lockers to enhance the overall gym experience.</p>
      
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section>



{% endblock head %}